<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-500/50 via-purple-500/50 to-pink-500/50 px-4 md:px-0">
  <div class="w-full max-w-6xl flex flex-col md:flex-row rounded-lg shadow-lg overflow-hidden">

    <!-- Banner bên trái -->
    <div class="w-full md:w-2/5 h-40 md:h-auto bg-cover bg-center" style="background-image: url('forgot.png')">
    </div>

    <!-- Form bên phải -->
    <div class="w-full md:w-3/5 p-6 bg-purple-100">
      <div class="text-center">
        <img src="logo_watch.png" alt="Logo" height="120" width="120" class="mx-auto" />
        <h2 class="text-3xl font-bold text-purple-600 mb-2 mt-3">Gửi mã xác thực</h2>
        <p
          class="text-base font-semibold bg-gradient-to-r from-pink-500/80 via-orange-500 to-yellow-500 bg-clip-text text-transparent">
          Nhập email để nhận mã xác minh tài khoản
        </p>
      </div>

      <form class="mt-6" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="block text-base font-bold text-black-600 mb-1">Nhập địa chỉ Email</label>
          <input id="email" [(ngModel)]="email" name="email" type="email" required
            class="block w-full rounded-md border border-gray-300 px-3 py-2 text-gray-900 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Nhập địa chỉ email" />
        </div>

        <!-- Error Message -->
        <div class="mt-4 text-red-600 text-center min-h-[3rem] transition-all duration-300 ease-in-out">
          <span *ngIf="errorMessage" class="opacity-100">{{ errorMessage }}</span>
        </div>

        <!-- Submit -->
        <div class="mb-4 mt-6">
          <button type="submit" [disabled]="!email || isLoading"
            class="w-full py-2 px-4 text-xl font-bold text-white bg-gradient-to-r from-blue-500/80 to-rose-500/80 rounded-md shadow hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50 disabled:bg-gray-400 disabled:cursor-not-allowed">
            {{ isLoading ? "Đang gửi..." : "Gửi mã xác thực về tài khoản" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>