<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-500/50 via-purple-500/50 to-pink-500/50 px-4 md:px-0">
  <div class="w-full max-w-4xl flex flex-col md:flex-row rounded-lg shadow-lg overflow-hidden">
    <div class="w-full md:w-2/5 h-40 md:h-auto bg-cover bg-center" style="background-image: url('background.png')">
    </div>

    <div class="w-full md:w-3/5 p-6 bg-purple-100">
      <img src="logo_watch.png" alt="" height="120" width="120" class="mx-auto" />
      <h2 class="text-3xl font-bold text-center text-purple-600 mb-6 mt-3">
        Đăng nhập
      </h2>

      <form (ngSubmit)="onSubmit()">
        <div>
          <label for="contact" class="block text-base font-bold text-black-400">Nhập địa chỉ Email hoặc số điện
            thoại</label>
          <input id="contact" [(ngModel)]="contact" name="contact" type="text" required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Nhập địa chỉ email hoặc số điện thoại" />
        </div>

        <div class="mt-4">
          <label for="password" class="block text-base font-bold text-black-400">Mật khẩu</label>
          <input id="password" [(ngModel)]="password" name="password" [type]="showPassword ? 'text' : 'password'"
            required
            class="mt-1 block w-full px-3 py-2 border border-black-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Nhập mật khẩu" />
          <div class="mt-2 flex items-center justify-end">
            <input id="show-password" type="checkbox" [(ngModel)]="showPassword" name="showPassword"
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
            <label for="show-password" class="ml-2 text-sm text-black-900">Hiển thị mật khẩu</label>
          </div>
        </div>
        <div class="mt-4 text-red-600 text-center min-h-[3rem] transition-all duration-300 ease-in-out">
          <span *ngIf="errorMessage" class="opacity-100">{{
            errorMessage
            }}</span>
        </div>
        <div class="mt-8 flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-password" type="checkbox" name="rememberPassword"
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
            <label for="remember-password" class="ml-2 text-sm text-black-900">Nhớ tài khoản</label>
          </div>
          <a routerLink="forgot-password" class="text-blue-600 text-base font-bold hover:underline mr-2">
            Quên mật khẩu?
          </a>
        </div>
        <div class="mt-2">
          <button type="submit" [disabled]="!contact || !password"
            class="w-full py-2 px-4 bg-gradient-to-r from-blue-500/80 to-rose-500/80 hover:bg-rose-700/50 text-white font-bold text-xl rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:opacity-50 disabled:bg-gray-400 disabled:cursor-not-allowed">
            Đăng nhập
          </button>
        </div>
      </form>
    </div>
  </div>
</div>