<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-500/50 via-purple-500/50 to-pink-500/50 px-4 md:px-0"
>
  <div
    class="w-full max-w-4xl flex flex-col md:flex-row rounded-lg shadow-lg overflow-hidden"
  >
    <div
      class="w-full md:w-2/5 h-40 md:h-auto bg-cover bg-center"
      style="background-image: url('background.png')"
    ></div>

    <div class="w-full md:w-3/5 px-6 py-12 bg-purple-100">
      <img
        src="logo_watch.png"
        alt=""
        height="120"
        width="120"
        class="mx-auto"
      />
      <h2 class="text-3xl font-bold text-center text-purple-600 mb-6 mt-3">
        Gửi mã xác thực
      </h2>

      <form (ngSubmit)="onSubmit()">
        <div class="mt-6">
          <label for="email" class="block text-base font-bold text-black-400"
            >Nhập địa chỉ Email</label
          >
          <input
            id="email"
            [(ngModel)]="email"
            name="email"
            type="email"
            required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Nhập địa chỉ email"
          />
        </div>
        <div
          class="mt-4 text-red-600 text-center min-h-[3rem] transition-all duration-300 ease-in-out"
        >
          <span *ngIf="errorMessage" class="opacity-100">{{
            errorMessage
          }}</span>
        </div>
        <div class="mt-12">
          <button
            type="submit"
            [disabled]="!email || isLoading"
            class="w-full py-2 px-4 bg-gradient-to-r from-blue-500/80 to-rose-500/80 hover:bg-rose-700/50 text-white font-bold text-xl rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:opacity-50 disabled:bg-gray-400 disabled:cursor-not-allowed"
          >
            {{ isLoading ? "Đang gửi..." : "Gửi mã xác thực về tài khoản" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
